@media (max-width: 600px) {
    .flex-items {
      max-width: 100%;
      padding: 1.5rem;
    }
}

body{
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
    /* align-items: stretch; container grows with items */
    flex-wrap: wrap;
    width: 90%;
    min-height:100vh;
    background-color: rgb(215, 227, 242);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);   
}

.flex-items{
    max-width: 600px;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-self: center;
}

img{
    border-radius: 20px;
    padding: 10px;
}

h1{
    text-align: center;
    color: #333;
    font-size: 2.8em;
    font-weight: 700;
}

p{
    font-size: 2.2em;
    line-height: 1.6;
    color: #666;
    text-align: center;
}